@font-face {
  font-family: 'Partita';
  src: url('fonts/FontsFree-Net-Partita-RegularItalic.ttf');
}

body {
  margin: 0;
  background: url(./img/bgd1.jpg) no-repeat top left fixed;
}

ul {
  padding: 5px; /* equalizing default value*/
  margin: 5px;
  list-style-type: none;
  font-family: 'Partita';
  font-size: 44px;
  color: white;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* .link:hover {
  filter: blur(30);
  transition: 0.2s;
} */

.nav_panel {
  position: fixed;
  bottom: 150px;
  left: 20px;
  transition-property: bottom 0.2s;
}

@media screen and (max-height: 340px) {
  .nav_panel {
    position: fixed;
    bottom: 10px;
    left: 20px;
    transition: 0.6s;
  }
}

@media screen and (max-height: 200px) {
  .link {
    filter: blur(200);
    transition: 1s;
  }

  .nav_panel {
    opacity: 0;
    transition: 1s;
  }
}

@media screen and (min-height: 200px) {
  .nav_panel {
    opacity: 1;
    transition: 1s;
  }
}

/* @media screen and (min-height: 400px) {
  .nav_panel {
    position: fixed;
    bottom: 150px;
    left: 20px;
    transition: 0.2s;
  }
} */
